transformers
nltk
spacy>=2.2.0,<3.0.0
pandas
elasticsearch
fastai
ktrain
tqdm
tensorflow==2.11
git+https://github.com/amaiya/eli5@tfkeras_0_10_1
git+https://github.com/amaiya/stellargraph@no_tf_dep_082
